/* .bKZiyH{
    background-color: #5f5f5f;
    border: none;
} */
.input-group.no-border .input-group-append .input-group-text{
    margin-left: -49px;
    height:0px;
   background-color: #5f5f5f;
   margin-top: 10px;
}